@model IEnumerable<EfendiTextile.Model.Offer>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<div class="right_col" role="main">
    <p>
        <a href=" @Url.Action("Create")" , class="btn btn-success btn-xs">Yeni Teklif Ekle</a>

    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td aria-selected="false" class="dx-cell-focus-disabled text-nowrap" style="text-align: left;">
                    <a href="@Url.Action("Edit",new { id=item.Id})"><span class="fa fa-pencil" title="Düzenle"></span></a>
                    <a href="@Url.Action("Delete",new { id=item.Id})"><span class="fa fa-trash" title="Sil"></span></a>
                    <a href="@Url.Action("Details",new { id=item.Id})"><span class="fa fa-pencil-square-o" title="Ayrıntılar"></span></a>
                </td>
            </tr>
        }

    </table>
 </div>
