@model IEnumerable<EfendiTextile.Model.Category>
     
@{
    ViewBag.Title = "Index";
}
<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

 <div class="right_col" role="main">
    <p>
       <a href=" @Url.Action("Create")" , class="btn btn-success btn-xs">Yeni Kategori</a>
    </p>
    <table class="table"id="myTable">
         <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
       
            <th></th>
        </tr>
             </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td> 
                <td aria-selected="false" class="dx-cell-focus-disabled text-nowrap" style="text-align: left;">              
                        <a href="@Url.Action("Edit",new { id=item.Id})"><span class="fa fa-pencil" title="Düzenle"></span></a>
                        <a href="@Url.Action("Delete",new { id=item.Id})"><span class="fa fa-trash" title="Sil"></span></a>
                        <a href="@Url.Action("Details",new { id=item.Id})"><span class="fa fa-pencil-square-o" title="Ayrıntılar"></span></a>
                </td>
      
            </tr>
         }
         </tbody>



     </table>
 </div>